.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  touch-action: auto;
  cursor:pointer;
  background-color:rgba(70, 131, 180, 0.611);
  font-weight:bold;
  border-radius: 0.3rem;
  color: #02232c;
  padding-top: 5px;
  height: calc(3vmax - 5px);
}

.add-user {
  position:absolute;
  display:flex;
  align-items: center;
}

.form {
  display:flex;
  flex-direction: column;
}

.form input, select {
  border:thin;
  width: auto;
  min-width:min-content;
  height: calc(2vmax - 3px);
  border-radius: 6px;
}

.view-users {
  top: calc(15% - 2vmin);
  position: absolute;
}

.view-user {
  /* top: calc(15% - 2vmin); */
  position: absolute;
}

.tab {
  size: 50px;
  font-size: calc(27px + 2vmin);
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}

.tab-selected {
  size: 50px;
  font-size: calc(27px + 2vmin);
  border-radius: 10px 10px 0 0 ;
  background-color:rgba(0, 128, 128, 0.337);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  border-bottom-width: 500%;
  cursor: pointer;
}


.tabs {
  display: flex;
  justify-items: space-around;
}

.list-user {
  font-size: calc(27px + 2vmin);
  background-color: transparent;
  border:none;
  font-weight: bolder;
  cursor:pointer;
}

.go-to-add {
  min-height: 100vh;
  font-size: calc(27px + 2vmin);
  background-color: transparent;
  border:none;
  font-weight: bolder;
  cursor:pointer;
}

.list-item {
  list-style-type: none;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errors {
  background: rgba(218, 165, 32, 0.207);
  color: darkred;
  font-size: calc(5px + 2vmin);
}

.delete {
  font-weight: bolder;
  cursor:pointer;
  border:medium;
  background: rgba(167, 8, 8, 0.535);
  border-radius: 0.4rem;
  position: sticky;
  height: 2vmax;
}

.button:disabled {
  touch-action: auto;
  cursor:pointer;
  background-color:transparent;
  font-weight:bold;
  border-radius: 0.3rem;
  color: #02232c;
  padding-top: 5px;
  height: calc(3vmax - 5px);
}
